<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reserve-me</title>
    <link rel="icon" type="image/svg+xml" href="/src/assets/vite.svg" />
    <link rel="stylesheet" href="/src/style.scss" />
    <link rel="stylesheet" href="/src/assets/fullcalendar/main.min.css" />
    <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=kYGGqRmprkVxs9oD8Kqk9kHsRgQ8pOo4wBuqh6bt-fBMAvK_41VLfLWWmVLkXlq0UIsb5sUvhXjX2SflZ87dKKAvqimUsYX18gtMPgvFsB5SgKgT9D6Ef224q45-2dT1CjBOG7UaWnDes-ydZDB8DQ" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://ff.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvMTA0OTQwMDE4NTgyMzk1MjkyOC8xMDQ5NDE5Mjc1NzU4MjE1MTg4L2luZGV4Lmh0bWw"/><script type="module" defer src="/src/main.js"></script>
  </head>

  <body class="bg-dark bg-opacity-25 min-vh-100">
    <template id="loginView">
      <div class="row min-vh-100">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 bg-transparent">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-1">Login</h5>

              <form id="formLogin" onsubmit="event.preventDefault()">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="usernameFormLogin"
                    placeholder="name@example.com"
                    required
                  />
                  <label for="floatingInput">Usuário</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="passwordFormLogin"
                    placeholder="Password"
                    required
                  />
                  <label for="floatingPassword">Senha</label>
                </div>
                <div class="d-grid">
                  <button
                    id="entrarLogin"
                    class="btn btn-primary btn-login text-uppercase fw-bold"
                    type="submit"
                  >
                    Entrar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template id="reservasView">
      <!-- TITLE -->
      <!--
      <h1>Reservas</h1>
      <div class="px-0 row">
        <p class="col-12">
          Clique em uma data do calendário para realizar a sua reserva.
        </p>
      </div>
      -->
      <div class="px-0 row py-4 py-sm-3 py-md-1">
        <p class="fs-6 col-12">reservas de quadras esportivas cadastradas</p>
      </div>

      <!-- CONTENT -->
      <div
        id="calendario"
        class="mx-auto"
        style="max-height: 55vh; min-height: 55vh"
      ></div>
      <div v-scope="{ textBtn: 'inc', count: 1 }" v-cloak class="mt-4">
        <button class="btn btn-secondary" @click="count++">
          {{ textBtn }} {{ count.toString().padStart(2,"0") }}
        </button>
      </div>
      <div class="d-flex justify-content-between mt-2 row">
        <div class="d-flex align-items-baseline col-12 col-md-9 mt-4">
          <label class="d-none d-md-block"> visualizar por: </label>
          <div class="btn-group ms-md-2">
            <button
              class="btn btn-outline-dark"
              onclick="window.mainCalendar.changeView('timeGridDay')"
              onkeyup="window.mainCalendar.changeView('timeGridDay')"
            >
              dia
            </button>
            <button
              class="btn btn-outline-dark"
              onclick="window.mainCalendar.changeView('dayGridWeek')"
              onkeyup="window.mainCalendar.changeView('dayGridWeek')"
            >
              semana
            </button>
            <button
              class="btn btn-outline-dark"
              onclick="window.mainCalendar.changeView('dayGridMonth')"
              onkeyup="window.mainCalendar.changeView('dayGridMonth')"
            >
              mes
            </button>
            <button
              class="btn btn-outline-dark"
              onclick="window.mainCalendar.changeView('listWeek')"
              onkeyup="window.mainCalendar.changeView('listWeek')"
            >
              listagem
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-md-end col-12 col-md-3 mt-4">
          <button
          id="novaReserva"
            class="btn btn-outline-dark btn-primary text-light"
          >
            Nova Reserva
          </button>
        </div>
      </div>
    </template>

    <template id="criarReservaView">
      <div class="row min-vh-100">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
          <div class="card border-0 bg-transparent">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-1">
                Nova Reserva
              </h5>

              <form id="formCriarReserva">
                <div class="form-floating mb-3">
                  <select
                    type="datetime-local"
                    class="form-control"
                    id="quadraFormCriarReserva"
                    required
                    placeholder="selecione uma quadra"
                  >
                  </select>
                  <label for="dataHoraInicialFormCriarReserva">Quadra</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="hidden"
                    id="dataHoraFinalFormCriarReserva"
                    required
                  />
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="dataHoraInicialFormCriarReserva"
                    required
                  />
                  <label for="dataHoraInicialFormCriarReserva">Data</label>
                </div>
                <div class="d-grid">
                  <button
                    id="criarReserva"
                    class="btn btn-primary btn-criar fw-bold"
                    type="submit"
                  >
                    Criar Reserva
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </template>

    <div class="container py-0 px-3 mx-auto">
      <header class="my-0 py-2 px-3 px-sm-5 fixed-top bg-dark shadow">
        <nav
          class="d-flex justify-content-between align-items-center container px-0 px-sm-3 px-md-5"
        >
          <h1 class="h4 mb-0">
            <a
              href="/"
              class="d-flex align-items-center text-bg-dark text-decoration-none"
            >
              <!-- <img class="d-inline-block me-2" width="40" height="32" src="https://raw.githubusercontent.com/twbs/bootstrap/main/site/static/docs/5.2/assets/brand/bootstrap-logo-black.svg" alt="Reserve-me logo"> -->
              <span>Reserve-me</span>
              <div class="text-dark">
                <span class="d-inline d-sm-none">..xs</span>
                <span class="d-none d-sm-inline d-md-none">..sm</span>
                <span class="d-none d-md-inline d-lg-none">..md</span>
                <span class="d-none d-lg-inline d-xl-none">..lg</span>
                <span class="d-none d-xl-inline">..xl</span>
              </div>
            </a>
          </h1>
          <div class="d-flex justify-content-between align-items-center">
		  <!--
            <a
              href="https://gitlab.com/thinix/reserve-me"
              target="_blank"
              rel="noopener"
              class="text-bg-dark text-decoration-none"
              >Gitlab</a
            >
		  -->
            <button
              class="ms-4 btn text-white bg-white bg-opacity-10"
              id="sairBotaoHeader"
            >
              <i class="bi bi-person-circle"></i>
              <span class="d-none d-sm-inline">sair</span>
            </button>
          </div>
        </nav>
      </header>

      <main
        id="app"
        class="mt-4 mt-md-3 p-3 p-sm-4 p-md-5 bg-white bg-opacity-75"
      ></main>

      <footer class="fixed-bottom bg-dark">
        <hr class="mt-0 mb-2 mx-0" />
        <p class="text-muted text-center mb-2">ADS - GRUPO 09 - Uniasselvi</p>
      </footer>
    </div>

    <script></script>
  </body>
</html>
