@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(248, 249, 252);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  margin: 0 auto;
}

[v-cloak] {
  display: none;
}

@media only screen and (max-width: 340px) {
  .fc-toolbar-title {
    font-size: 1.25em !important;
    margin-bottom: 0.4em !important;
  }
  .fc-list-day-text,
  .fc-list-day-side-text,
  .fc-list-event-title {
    font-size: 0.9em !important;
  }
  .fc-header-toolbar.fc-toolbar {
    display: block !important;
  }
}

@media only screen and (min-width: 341px) {
  .fc-toolbar-title {
    font-size: 1.25em !important;
    margin-bottom: 0.4em !important;
  }

  .fc-header-toolbar.fc-toolbar {
    display: block !important;
  }
}

@media only screen and (min-width: 400px) {
  .fc-toolbar-title {
    font-size: 1.45em !important;
  }
}

@media only screen and (min-width: 500px) {
  .fc-toolbar-title {
    font-size: 1.55em !important;
  }
}

@media only screen and (min-width: 575px) {
  .fc-toolbar-title {
    font-size: 1.65em !important;
  }
  .fc-header-toolbar.fc-toolbar {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) {
  .fc-toolbar-title {
    font-size: 1.75em !important;
  }
  .fc-header-toolbar.fc-toolbar {
    display: flex !important;
  }
}

.fc-list-event.fc-event {
  cursor: pointer;
}